.header .navbar-form .input-group-btn button {
    margin-left: 0px!important;
    padding: 9px 12px!important;
}

.navbar {
    border-radius: 0!important;
}

.navbar-nav {
    float: right!important;
}

.header .header-styling {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eb5757;
}

.header .header-styling a {
    color: white;
}

.banner-content-wrapper {
    text-align: center;
    padding-top: 10px;
}

.alert-bar {
    display: inline-block;
}

.alert-bar img {
    height: 25px;
}

.send-sos {
    color: white;
    display: inline-block;
}