<div class="schedule-data">
    <h3 class="schedule-heading">Schedule</h3>
    <div class="schedule" aria-labelledby="schedule-heading">

        <span class="track-slot" aria-hidden="true" style="grid-column: track-1; grid-row: tracks;">Monday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-2; grid-row: tracks;">Tuesday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-3; grid-row: tracks;">wednesday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-4; grid-row: tracks;">Thursday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-5; grid-row: tracks;">Friday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-6; grid-row: tracks;">Saturday</span>
        <span class="track-slot" aria-hidden="true" style="grid-column: track-7; grid-row: tracks;">Sunday</span>

        <h2 class="time-slot" style="grid-row: time-0900;">9:00am-10:00am</h2>
        <div class="session session-1 track-1" style="grid-column: track-1; grid-row: time-0900 / time-0900;">
            <h3 class="session-title"><a href="#">Appointment 1</a></h3>
        </div>
        <div class="session session-2 track-2" style="grid-column: track-2; grid-row: time-0900 / time-0900;">
            <h3 class="session-title"><a href="#">Appointment 2</a></h3>
        </div>
        <div class="session session-3 track-3" style="grid-column: track-3; grid-row: time-0900 / time-1000;">
            <h3 class="session-title"><a href="#">Appointment 3</a></h3>
        </div>
        <div class="session session-4 track-4" style="grid-column: track-4; grid-row: time-0900 / time-1000;">
            <h3 class="session-title"><a href="#">Appointment 4</a></h3>
        </div>
        <div class="session session-5 track-5" style="grid-column: track-5; grid-row: time-0900 / time-1000;">
            <h3 class="session-title"><a href="#">Appointment 5</a></h3>
        </div>
        <div class="session session-6 track-6" style="grid-column: track-6; grid-row: time-0900 / time-1000;">
            <h3 class="session-title"><a href="#">Appointment 6</a></h3>
        </div>
        <div class="session session-7 track-7" style="grid-column: track-7; grid-row: time-0900 / time-1000;">
            <h3 class="session-title"><a href="#">Appointment 7</a></h3>
        </div>
        <h2 class="time-slot" style="grid-row: time-1000;">10:00am-11:00am</h2>
        <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1000 / time-1100;">
            <h3 class="session-title"><a href="#">Appointment 8</a></h3>
        </div>
        <div class="session session-8 track-4" style="grid-column: track-4; grid-row: time-1000 / time-1100;">
            <h3 class="session-title"><a href="#">Appointment 9</a></h3>
        </div>

        <h2 class="time-slot" style="grid-row: time-1100;">11:00am-12:00pm</h2>
        <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1100 / time-1200;">
            <h3 class="session-title"><a href="#">Appointment 10</a></h3>
        </div>
        <div class="session session-8 track-3" style="grid-column: track-3; grid-row: time-1100 / time-1200;">
            <h3 class="session-title"><a href="#">Appointment 11</a></h3>
        </div>
        <h2 class="time-slot" style="grid-row: time-1100;">12:00pm-1:00pm</h2>
        <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1200 / time-1300;">
            <h3 class="session-title"><a href="#">Appointment 12</a></h3>
        </div>
        <div class="session session-8 track-5" style="grid-column: track-5; grid-row: time-1200 / time-1300;">
            <h3 class="session-title"><a href="#">Appointment 13</a></h3>
        </div>
        <h2 class="time-slot" style="grid-row: time-1200;">1:00pm-2:00pm</h2>
        <div class="session session-9 track-2" style="grid-column: track-2; grid-row: time-1300 / time-1400;">
            <h3 class="session-title">Take a break!</h3>
        </div>

        <h2 class="time-slot" style="grid-row: time-1300;">2:00pm-3:00pm</h2>

        <div class="session session-8 track-1" style="grid-column: track-1; grid-row: time-1400 / time-1500;">
            <h3 class="session-title"><a href="#">Appointment 14</a></h3>
        </div>

        <div class="session session-9 track-2" style="grid-column: track-2-start / track-3-end; grid-row: time-1400 / time-1500;">
            <h3 class="session-title"><a href="#">Appointment 15</a></h3>
        </div>

        <div class="session session-10 track-4" style="grid-column: track-4; grid-row: time-1400 / time-1500;">
            <h3 class="session-title"><a href="#">Appointment 16</a></h3>
        </div>

        <h2 class="time-slot" style="grid-row: time-1400;">3:00pm-4:00pm</h2>

        <div class="session session-11 track-2" style="grid-column: track-2; grid-row: time-1500 / time-1600;">
            <h3 class="session-title"><a href="#">Appointment 17</a></h3>
        </div>

        <div class="session session-11 track-3" style="grid-column: track-3; grid-row: time-1500 / time-1600;">
            <h3 class="session-title"><a href="#">Appointment 18</a></h3>
        </div>

        <h2 class="time-slot" style="grid-row: time-1500;">4:00pm-5:00pm</h2>

        <div class="session session-11 track-2" style="grid-column: track-2; grid-row: time-1600 / time-1700;">
            <h3 class="session-title"><a href="#">Appointment 19</a></h3>
        </div>

        <div class="session session-11 track-3" style="grid-column: track-3; grid-row: time-1600 / time-1700;">
            <h3 class="session-title"><a href="#">Appointment 20</a></h3>
        </div>
    </div>
</div>
<div class="right-side-data">
    <div class="myNotifications">
        <h3 class="schedule-heading">Notifications</h3>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Task</th>
                <th>Location</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>Sam Wilsom</td>
                    <td>At home diabetes check</td>
                    <td>...</td>
                    <td>
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Reject</button>
                    </td>
                </tr>
                <tr>
                    <td>Steve Rogers</td>
                    <td>Covid symptom discussion</td>
                    <td>...</td>
                    <td>
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Reject</button>
                    </td>
                </tr>
                <tr>
                    <td>Tony Stark</td>
                    <td>Need Essentials delivered from nearest store</td>
                    <td>...</td>
                    <td>
                        <button class="btn btn-success">Accept</button>
                        <button class="btn btn-danger">Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tasks-completed">
        <h3 class="schedule-heading">Finished Tasks</h3>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Task</th>
                <th>Feedback</th>
                <th>Help-coins</th>
            </thead>
            <tbody>
                <tr>
                    <td>Wanda Maximoff</td>
                    <td>Grocery delivered</td>
                    <td>Very helpful<span class="badge" style="vertical-align: unset;margin-left: 5px">5/5</span></td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Peter Parker</td>
                    <td>BP Monitoring</td>
                    <td>Helpful<span class="badge" style="vertical-align: unset;margin-left: 5px">4/5</span></td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>Nick Fury</td>
                    <td>Swab Test</td>
                    <td>Poor<span class="badge" style="vertical-align: unset;margin-left: 5px">2/5</span></td>
                    <td>20 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>