<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    <div class="navbar navbar-inverse" style="margin-bottom: 0">
        <div class="banner-content-wrapper">
            <div class="alert-bar"><img class="phone-class" src="./assets/phone.png"></div>
            <div class="send-sos">Send SOS(911)</div>
        </div>
    </div>
</div>
<app-login></app-login>
<!-- <header class="header">
    <p class="title">Chat with Rasa chatbot</p>
</header>
<div id="messages"></div>
<form id="form">
    <input id="message-input" autocomplete="off" autofocus/>
    <button class="button">Send</button>
</form> -->