<div class="body-data">
    <div *ngIf="!pageChange" style="width: 72%;float: left;"><img src="./assets/landing.jpg" style="height: 92%;"></div>
    <div *ngIf="!pageChange" class="login-form">
        <div *ngIf="initialPage" class="initialPage">
            <button class="btn btn-primary" (click)="buttonClick('new')">New User</button>
            <button class="btn btn-primary" (click)="buttonClick('exist')">Existing User</button>
        </div>existingUser {{existingUser}}
        <form style="height: 76%;padding-top: 50px" *ngIf="existingUser">

            <div style="font-size: 20px;margin-bottom: 20px;">
                <input type="checkbox" id="flw" name="flw" value="flw">
                <label for="flw">Are you a front line worker?</label><br>
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label for="username">Username</label><br>
                <input style="font-size: 14px;width: 290px;" type="email" id="username" name="username" value="" placeholder="Enter Email">
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label for="password">Password</label><br>
                <input style="font-size: 14px;width: 290px;" type="password" id="password" name="password" value="" placeholder="Enter Password">
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label style="display: block">Your Location</label>
                <iframe style="display: block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.836672047576!2d-78.78949858514385!3d43.00277360226355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d373d3d616f2f5%3A0xafbe5f3ffdd74396!2sDavis%20Hall%2C%20White%20Rd%2C%20Amherst%2C%20NY%2014260!5e0!3m2!1sen!2sus!4v1636227041831!5m2!1sen!2sus"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div>
                <button type="submit" value="submit" style="width: 103px;margin:20px; float: right" (click)="submitLogin()">Login</button>
            </div>
        </form>
        <div *ngIf="newuser">
            <app-register (registr)="registr($event)"></app-register>
        </div>
    </div>
    <div *ngIf="dashboard">
        <app-dashboard></app-dashboard>
    </div>
</div>