<div class="body-data">
    <div *ngIf="!pageChange" style="width: 72%;float: left;"><img src="./assets/landing.jpg" style="height: 92%;"></div>
    <div *ngIf="!pageChange" class="login-form">
        <div *ngIf="initialPage" class="initialPage">
            <button class="btn btn-primary" (click)="buttonClick('new')">New User</button>
            <button class="btn btn-primary" (click)="buttonClick('exist')">Existing User</button>
        </div>
        <form style="height: 76%;padding-top: 50px" *ngIf="existingUser">

            <div style="font-size: 20px;margin-bottom: 20px;">
                <input type="checkbox" id="flw" name="flw" value="flw" (change)="changeStatus($event)">
                <label for="flw">Are you a front line worker?</label><br>
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label for="username">Username</label><br>
                <input style="font-size: 14px;width: 290px;" type="email" id="username" name="username" value="" placeholder="Enter Email">
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label for="password">Password</label><br>
                <input style="font-size: 14px;width: 290px;" type="password" id="password" name="password" value="" placeholder="Enter Password">
            </div>
            <div style="font-size: 20px;margin-bottom: 20px;">
                <label style="display: block">Your Location</label>
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
                </agm-map>
            </div>
            <div>
                <button type="submit" value="submit" style="width: 103px;margin:20px; float: right" (click)="submitLogin()">Login</button>
            </div>
        </form>
        <div *ngIf="newUser">
            <app-register (registr)="registr($event)"></app-register>
        </div>
    </div>
    <div *ngIf="dashboard">
        <app-dashboard *ngIf="flw"></app-dashboard>
        <app-user-dashboard *ngIf="!flw"></app-user-dashboard>
    </div>
</div>